.post-content {
  text-align: justify;
  font-size: 16px;
  line-height: 24px;
}
.innerHTML {
  img {
    width: 30%;
    height: auto;
    justify-content: center;
    display: block;
    margin: 12px auto;
  }
}
